/* ========== BREADCRUMB ==========*/

.breadcrumb {
    background: url(http://127.0.0.1:5500/assets/images/detail-product/banner.png) no-repeat center;
    background-size: cover;
    display: block;
    padding: 8rem 0 8rem;
    z-index: 9;
    position: relative;
}

.breadcrumb__container {
    text-align: center;
}

.breadcrumb__title {
    font-size: var(--biggest-font-size);
    color: var(--title-color-primary);
}

.breadcrumb__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb__item {
    margin: 0 6px;
    display: flex;
    align-items: center;
}

.breadcrumb__link {
    color: var(--title-color);
}

.breadcrumb__link:hover {
    color: var(--first-color);
}

.breadcrumb__icon {
    font-size: 22px;
}

/* ========== DETAIL PRODUCT ==========*/

.detail__image {
    cursor: pointer;
    border-radius: 5px;
}

.detail__other-thumb {
    margin-top: 2rem;
}

.detail__other-thumb-list {
    display: flex;
}

.detail__other-thumb-item {
    margin-right: 1.5rem;
    cursor: pointer;
    position: relative;
}

.detail__other-thumb-item:last-child {
    margin-right: 0;
}

.detail__other-thumb-item--overlay::before{
    position:absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(180, 214, 193, 0.5);  /* 50% transparent */
}

/* ========= RIGHT ========= */

.detail-info {
    padding: 2rem;
    border: 1px solid #dfdddd;
    border-radius: 5px;
}

.detail-info__title {
    font-size: var(--big-font-size);
    color: var(--title-color-primary);
}

.detail-info__desc {
    font-size: 15px;
    margin-bottom: 1rem;
}

.detail-info__category {
    margin-bottom: 1rem;
    font-size: var(--normal-font-size);
    display: block;
}

.detail-info__category-link {
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.detail-info__rate {
    display: flex;
    align-items: center;
}

.detail-info__rate-list {
    display: flex;
    margin-right: 0.5rem;
}

.detail-info__rate-item {
    font-size: 20px;
    color: var(--gold-color);
}

.detail-info__rate-reviews {
    color: var(--text-color);
}

.detail-info__price {
    font-size: var(--big-font-size);
    color: var(--first-color);
}

.detail-info__form {
    display: flex;
    align-items: center;
}

.detail-info__quantity {
    display: flex;
    margin-right: 1rem;
}

.detail-info__quantity-btn {
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--first-color-light);
    color: var(--body-color);
    cursor: pointer;
}

.detail-info__minus i, .detail-info__plus i {
    font-size: 20px;
}

.detail-info__input-text {
    width: 60px;
    border: none;
    background-color: var(--light-green-color);
    text-align: center;
    font-size: 18px;
    margin: 0 0.4rem;
    border: 1px solid transparent;
    border-bottom-color: var(--first-color);
}

.detail-info__submit {
    padding: 1rem;
}


.detail-info__submit i {
    font-size: 22px;
}

.detail-info__social {
    display: flex;
    margin: 1rem 0;
}

.detail-info__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-info__social-item {
    padding: 8px 15px;
    border: 1px solid var(--first-color);
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--first-color);
}

.detail-info__social-item:hover {
    background-color: var(--gold-color);
    border-color: transparent;
    color: var(--body-color);
    transition: all 0.5s ease-in-out;
}

.detail-info__social-link {
    color: inherit;
}

.detail-info__social-link i {
    font-size: 18px;
}

.detail-info__policy {}

.detail-info__policy-list {
    display: flex;
    flex-direction: column;
}

.detail-info__policy-item {
    flex: 1;
    background-color: var(--light-green-color);
    margin-bottom: 1rem;
    padding: 1rem;
}

.detail-info__policy-link {
    display: flex;
    align-items: center;
    color: var(--title-color);
}

.detail-info__policy-link:hover {
    transition: all 0.3s ease-in-out;
    color: var(--gold-color);
}

.detail-info__policy-link img {
    margin-right: 10px;
}

.tabs-wrapper {
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.tabs-list-info{
    margin: 1rem 0;
}

.tabs-pill:not(:first-child){
    display: none;
}

.tab-description__introduce {
    font-size: 15px;
    margin-bottom: 2rem;
}

.tab-description__img {
    display: flex;
}

.tab-description__advice {
    margin: 2rem 0;
    list-style: disc;
    padding-left: 1rem;
}

.tab-description__advice li {
    color: var(--first-color);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--first-color-light);
    border-radius: 5px;
    display: block;
}

td, th {
    text-align: left;
    padding: 1.3rem;
}

td {
    width: 100%;
}

th {
    width: 200px;
    border-right: 1px solid var(--first-color-light);
    color: var(--title-color-primary);
}

tr:nth-child(even) {
    background-color: #F9F9F9;
}

.quantity-reviews {
    color: var(--title-color-primary);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.list-user-comment {
    display: flex;
    flex-direction: column;
}

.user-comment {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    position: relative;
}

.user-thumb {
    width: 100px;
    margin-right: 1.5rem;
}

.user-avatar {
    border-radius: 50%;
}

.user-name-comment {
    color: var(--title-color-primary);
    font-size: 1.2rem;
    font-weight: var(--font-semi-bold);
}

.date-comment {
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
    margin: 0.25rem 0;
}

.content-comment {
    font-size: 0.975rem;
}

.user-rated {
    position: absolute;
    right: 10px;
}

/* =========== ADD REVIEWS ==========*/

.add-reviews__title {
    font-size: 1.5rem;
    color: var(--title-color-primary);
    font-weight: normal;
}

.add-reviews__rating {
    display: flex;
    align-items: center;
}

.rate {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-left: 1rem;
}

.rate:not(:checked)>input {
    position: absolute;
    /* top: -9999px; */
    display: none;
}

.rate:not(:checked)>label {
    /* float: right; */
    /* width: 1em; */
    font-size: 15px;
    overflow: hidden;
    /* white-space: nowrap; */
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover, .rate:not(:checked)>label:hover~label {
    color: #ffc700;
}

.add-reviews__heading {
    font-size: 1rem;
    font-weight: var(--font-medium);
    color: var(--title-color-primary);
}

.add-reviews-content textarea {
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    outline: none;
    border: 1px transparent;
    border-bottom: 1px solid var(--first-color-light);
    background-color: var(--light-green-color);
    margin: 1rem 0;
    color: var(--text-color);
    font-size: 1.5rem;
}

.add-reviews-content textarea:focus, .add-reviews-info input:focus {
    border: 1px solid var(--first-color-light);
    transition: all 0.3s ease-in-out;
}

.add-reviews-info {
    display: flex;
    margin-bottom: 1rem;
}

.add-reviews-name, .add-reviews-email {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.add-reviews-info input {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.1rem;
    color: var(--text-color);
    padding: 10px;
    border: 1px transparent;
    border-bottom: 1px solid var(--first-color-light);
    background-color: var(--light-green-color);
}

.add-reviews-name {
    margin-right: 1rem;
}

.add-reviews__btn-submit {
    padding: 12px 30px;
    margin-top: 1rem;
}

.add-reviews__btn-submit:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--gold-color);
}

/* =========== RELATED PRODUCT ========== */


.related-products-list {
    margin: 2rem 0;
}

/* =========== MEDIA ============ */
@media screen and (max-width: 1024px){
    .detail-info{
        margin-top: 2rem;
    }
}

