/*===== CLASS CSS ====*/

.section {
    padding: 4rem 0 2rem;
}

.section-title, .section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

/* ==== LAYOUT ==== */

.container {
    max-width: 960px;
    width: calc(100%-2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    padding: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* ==== NAV ==== */

.nav {
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:768px) {
    html {
        margin: 0;
    }
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0;
        text-align: center;
        background-color: var(--body-color);
        transition: 0.4s;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
        z-index: var(--z-fixed);
    }
}

.nav__item {
    margin-bottom: var(--mb-2);
}

.nav__link, .nav__logo, .nav__toggle {
    color: var(--text-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__link {
    transition: .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
}

/* Show menu */

.show-menu {
    top: var(--header-height);
}

/* Active menu */

.active-link {
    color: var(--first-color);
}

/* Change background header */

.scroll-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/* Scroll top */

.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(6, 156, 84, .5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover {
    background-color: var(--first-color-alt);
}

.scrolltop__icon {
    font-size: 1.8rem;
    color: var(--body-color);
}

/* Show scrolltop */

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}

/*========== HOME ==========*/

.home__container {
    height: calc(100vh - var(--header-height));
    align-content: center;
}

.home__title {
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.home__subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
}

.home__img {
    width: 300px;
    justify-self: center;
}

/*========== BUTTONS ==========*/

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

/*========== ABOUT ==========*/

.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: var(--mb-3);
}

.about__img {
    width: 280px;
    border-radius: .5rem;
    justify-self: center;
}

/*========== SERVICES ==========*/

.services__container {
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
    text-align: center;
}

.services__img {
    width: 64px;
    height: 64px;
    fill: var(--first-color);
    margin-bottom: var(--mb-2);
}

.services__title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.services__description {
    padding: 0 1.5rem;
}